[submodule "submodules/avstack-core"]
	path = submodules/avstack-core
	url = https://github.com/avstack-lab/avstack-core
[submodule "submodules/avstack-api"]
	path = submodules/avstack-api
	url = https://github.com/avstack-lab/avstack-api
